*{
    box-sizing: border-box;
}


:root{
    --btn-cream: #FFE3BD;
}

/* move to style css */
button[id ^= "category"], button[id^='habit']{
    background-color: var( --btn-cream);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 10em;
    height: 10em;
    border-radius: 50% !important;
}

[class ^= "col"], #dropdown{
    margin: 25px 0px !important;
    
}

#submit{
    margin-bottom: 15px;
}

#content{
    margin-top: 40px !important;
    padding-top: 30px;

}
