*{
    box-sizing: border-box;
}

:root{
    --btn-cream: #FFE3BD;
    --btn-cream-hover: #e7bf87;
    --btn-font-color: #7278B3;
    --background: #D6DAFF;
    --section-background:#FFF6D6;
    --link-highlight: #0D22EE;
    --border-colour: #B3A884;
    --section-highlight: #FFFCF0;
}

body{
    background-color: var(--background) !important ;
}

nav{
    background-color: var(--section-background) !important;
}

header{
    margin-bottom: 40px;
}

h1, h4, h2 {
    display: inline;
}

.habitItem{
    margin: 15px 0px;;
}

.container{
    margin-bottom: 15px;
    padding: 15px 30px !important;
    border-radius: 5px;
}

.nav-link{
    color:black !important;
}

.nav-item.active>.nav-link{
    color:var(--link-highlight) !important;
}

#quote h2 {
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
}

#userInfo h2 {
    padding: 10px;
}

#userInfo img {
    height: 50px;
    width: 50px;
    border: 1px solid var(--border-colour);
    border-radius: 50%;
    background-color: var(--section-highlight);
    margin-right: 15px;
}

#userInfo button,
#habitInfo button {
    float: right;
    border: 1px solid var(--border-colour);
    border-radius: 5px;
    background-color: var(--btn-cream);
    padding: 10px 15px;
}

#userInfo button:hover,
#habitInfo button:hover {
    background-color: var(--btn-cream-hover);
}

#userInfo button a,
#habitInfo button a {
    text-decoration: none;
    color: black;
}

#habitSection, #quote, #userInfo{
    background-color: var(--section-background);
    border-radius: 15px; 
    border: 2px solid var(--border-colour);
}

#habits{
    background-color: var(--section-highlight);
    border-radius: 15px;
    padding: 25px;
}